* {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding: 0;
    box-sizing: border-box;
}
/* 菜单栏采用fixed定位 */
#menu {
    position: fixed;
    /* background-color: black; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    width: 100%;
    z-index:300;
    top:0px;
    height: 70px;
}
/* 首级菜单栏 */
/* #nav {
    margin: 0px 0px 0px 0px!important;
    width:auto;
    display:block;
} */

#nav {
    display:block;
    width: 80%;
    position: absolute;
    left: 18%;
    top: 20px;
    margin: 0px 0px 0px 0px!important;
}
/*
#nav {width:100%;position:absolute;left:5%;top:0px;}
*/

/* 、、、、、、这里html并没有menu1呀 */

/* #nav .menu1{
text-decoration:none;
font-size: 30px;
line-height:28px;

} */

/*
#nav .slider {
    float:left; 
    border-right:5px;
}
#nav .slider a {
    font-size: 16px!important; 
    color:#000; 
    text-decoration:none; 
    line-height:32px; 
    display:block; 
    padding:0 5px;
}
*/
/*
#nav .slider a:hover {
    color:rgba(0,223,252,1); 
    text-decoration:none;
}

#nav .slider ul {
    display: block; 
    position: absolute; 
    border-radius:10px;
}
*/

.firstmenu {
    

}
#nav .firstmenu li {
    border-radius:10px; 
    padding-left: 5px;
    
}

#nav .mainlevel {
    float:left; 
    border-right:5px;
}
#nav .mainlevel #home,
#nav .mainlevel #project,
#nav .mainlevel #lab,
#nav .mainlevel #parts,
#nav .mainlevel #modeling,
#nav .mainlevel #hardware,
#nav .mainlevel #team,
#nav .mainlevel #humen,
#nav .mainlevel #judging
{
    width:20px; 
    height: 20px;
}

/* 这里改变padding想要调整首栏大小 */
#nav .mainlevel a {
    color: #f5f5f7;
    text-decoration:none;
    line-height:36px;
    display:block;
    padding:0 15px;
    font-size: 14px!important;
}

#nav .mainlevel a:hover {
    /* color:rgba(0,223,252,1);  */
    color: #f5f5f7;
    text-decoration:none;
}
#nav .mainlevel ul {
    display:block; 
    position:absolute; 
    /* border-radius:10px; */
}


/* .log {
    text-align:center; 
    color:skyblue; 
    line-height:24px; 
    text-transform:capitalize; 
    margin:50px auto;} */
/* .mainlevel ul li:nth-child(1){
    border-radius: 10px 10px 0 0;
     }
.mainlevel ul li:last-child{
    border-radius: 0 0 10px 10px;
} */
/* #sub_08 li{
    border-radius: 10px;
} */
.mainlevel ul{
    z-index: 1000
}
.mainlevel a{
    font-size: 14px!important
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #nav .menu1:active{
    color: red;
}
#nav .menu1:hover{
    color: red; */
}

#menu li ul li ul {
    visibility: hidden;
    z-index: 1;
    padding: 0;
    opacity: 0;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /* background: transparent; */
    overflow: hidden;
    width: 200px;
    /* transform-origin: 50% 0%; */
}

#menu ul{
    list-style: none;
    line-height: 50px;
}
#menu nav a:hover{
    color: rgba(255, 255, 255, 0.9);
}

/* 这个是直接li吗 */
#menu li ul li{
    text-decoration: none;
    list-style: none;
    font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    float: left;
}

#menu li ul li a{
    font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-decoration: none;
    text-align: left;
    width: 100%;
    position: relative;
    padding: 0 20px;
    display: block;
    text-decoration: none;
    color: #f5f5f7;

    line-height: 1;
    font-weight: 400;
    /* font-size: 10000px; */
    letter-spacing: -.04em;
    /* background: transparent;		 */
    text-shadow: 0 1px 1px rgba(255,255,255,.9);
    /* transition: all .25s ease-in-out; */
}
#menu li ul li ul li{
    display: none;
    float: none;
    margin-top: 0.2cm;
}

#menu li ul li:hover li{
    display: block;
}

#menu li ul li:hover ul{
    padding: 10px 0;
    margin-left:0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 140px;
    opacity: 1;
    visibility: visible;
    box-shadow: 1px 1px 7px rgba(0,0,0,.5);
    animation-duration: 2s;
    animation-timing-function: ease;
}


#menu li ul li ul li a {
    font-weight: 400;
    color: #f5f5f5;
    text-align: left;
    text-shadow: none;
    /* border-top: dotted 1px transparent;
    border-bottom: dotted 1px transparent; */
    transition: all .15s linear;
}

#menu li ul li ul li a:hover {
    /* color: rgba(0,223,252,1); */
    /* border-top: dotted 1px rgba(28,19,19,0.91);
    border-bottom: dotted 1px rgba(28,19,19,0.91); */
    background-color: rgba(0, 0, 0, 0.8);
}